<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="NBitcoin" switchValue="Information, ActivityTracing">
				<listeners>
					<add name="console"></add>
					<!--<add name="xml"></add>-->
				</listeners>
			</source>
			<source name="NBitcoin.NodeServer" switchValue="Verbose, ActivityTracing">
				<listeners>
					<add name="console"></add>
					<add name="default"></add>
					<!--<add name="xml"></add>-->
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="console"
			type="System.Diagnostics.ConsoleTraceListener" />
			<add name="default"
						type="System.Diagnostics.DefaultTraceListener" />
			<add name="xml"
		   type="System.Diagnostics.XmlWriterTraceListener"
		   initializeData="BitcoinLogs.svclog" traceOutputOptions="Callstack" />
		</sharedListeners>
		<trace autoflush="true"></trace>
	</system.diagnostics>
</configuration>